.container {
    width: 400px;
    margin: 50px auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  input,
  select,
  button {
    padding: 10px;
    font-size: 16px;
  }
  
  .car-card {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: #ccc;
  }
  
  .car-card img {
    width: 100%;
    margin-bottom: 10px;
  }

  .benzinas {
    background-color: #4b8b5a;
  }

  .dyzelinas {
    background-color: grey;
  }

  .elektra {
    background-color: rgb(92, 92, 233);
  }