.container {
    width: 400px;
    margin: 50px auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

input,
select,
button {
  padding: 10px;
  font-size: 16px;
}

.car-card {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.car-card img {
  width: 100%;
  margin-bottom: 10px;
}